input_folder: /vols/cms/lcr119/offline/HiggsCP/HiggsDNA/output/Jan_PreApp
output_path: /vols/cms/lcr119/offline/HiggsCP/TIDAL/Draw/Plots/2026/VBFChecks_BDTvars/Signal_VBFHighEta # FinalBin_VBF #FinalBin #VBFChecks_BDTvars_SYST/
channels: [ tt, et, mt]
eras: [Run3_2022, Run3_2022EE, Run3_2023, Run3_2023BPix]
parameter_path: /vols/cms/lcr119/offline/HiggsCP/HiggsDNA/scripts/ditau/config/
schemes: [control]
run_systematics: false

control:

  systematics:
    per_era:
      default:
        tt:
         - [ "systematic_Trigger", "CMS_HIG25012_trig_*obj_*trigger_*group" ]

        mt:
        - [ "systematic_Tau_EnergyScale_PNet_MUSCALE", "CMS_HIG25012_scale_t_muFake_*group_*year" ]
        - [ "systematic_Muon_ID_iso", "CMS_eff_m_*kind" ]
        - [ "systematic_Tau_FakeRate_mu", "CMS_fake_t_DeepTau2018v2p5_VSmu_*year_eta_*eta"]
        - [ "systematic_Trigger", "CMS_HIG25012_eff_m_trigger"]
        - [ 'systematic_IP_Significance', "CMS_HIG25012_eff_IPSigCut_*obj_eta_*eta"]

        et:
        - [ "systematic_Tau_EnergyScale_PNet_ESCALE", "CMS_HIG25012_scale_t_eFake_*group_*year" ]
        - [ "systematic_Tau_FakeRate_e", "CMS_fake_t_DeepTau2018v2p5_VSe_*year_eta_*eta"]
        - [ "systematic_Electron_Scale_Smearing", "CMS_*kind_e"]
        - [ "systematic_Electron_ID_Reco", "CMS_eff_e_*kind"]
        - [ 'systematic_IP_Significance', "CMS_HIG25012_eff_IPSigCut_*obj_eta_*eta"]
        - [ "systematic_Trigger", "CMS_HIG25012_eff_e_trigger"]

        common:
         - [ "systematic_Fake_Factors", "CMS_HIG25012_fake_t"]
         - [ "systematic_DY_Shape", "CMS_HIG25012_Z_pt_reweighting" ]
         - [ "systematic_TTbar_Shape", "top_pt_reweighting" ]
         - [ "systematic_Tau_ID_PNet", "CMS_HIG25012_eff_t_DeepTau2018v2p5_VSjet_*group"]
         - [ "systematic_Tau_EnergyScale_PNet_TSCALE", "CMS_HIG25012_scale_t_*group_*year" ]
         - [ "systematic_MET_Recoil", "CMS_HIG25012_*type_met" ]
         - [ "systematic_Jet_EnergyScale_Regrouped", "CMS_scale_j_*type" ]
         - [ "systematic_Jet_EnergyResolution", "CMS_res_j_*year" ]
         - [ 'systematic_Pileup', 'CMS_pileup']
         - [ "systematic_IP_Calibration", "CMS_HIG25012_res_IP"]
         - [ "systematic_SV_Resolution", "CMS_HIG25012_res_SV"]
         - [ "systematic_Signal_Theory", "*type_signal"]



  variable_definitions:
    # CONTROL PLOTS of BDT input variables
    pt_1: "pt_1(40,0,200)"
    pt_2: "pt_2(40,0,200)"
    eta_1: "eta_1(48,-2.4,2.4)" # only mt and et
    met_pt: "met_pt(40,0,200)"
    met_dphi_1: "met_dphi_1(32,0,pi)"
    met_dphi_2: "met_dphi_2(32,0,pi)"
    dR: "dR(42,0,5)"
    dphi: "dphi(32,0,pi)"
    pt_tt: "pt_tt(50,0,400)"
    m_vis: "m_vis(50,0,200)"
    m_vis_tt: "m_vis(50,0,400)"
    pt_vis: "pt_vis(40,0,200)"
    FastMTT_mass: "FastMTT_mass(50,0,400)"
    mt_1: "mt_1(40,0,200)"
    mt_2: "mt_2(40,0,200)"
    mt_lep: "mt_lep(40,0,200)"
    mt_tot: "mt_tot(40,0,200)"
    jpt_1: "jpt_1(20,30,200)"
    jpt_2: "jpt_2(20,30,200)"
    jeta_1: "jeta_1(60,-5,5)"
    jeta_2: "jeta_2(60,-5,5)"
    mjj: "mjj(40,0,2000)"
    jdeta: "jdeta(48,0,10)"
    dijetpt: "dijetpt(40,0,400)"
    n_jets: "n_jets(10,0,10)"

  tt:
  # GENERAL CONTROL
  # - { method: "4", category:  [ mva_higgs ], plotting_variable: [ "m_vis_tt", "dR", "dphi", "pt_tt", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], use_filtered_DY: true} # nominal (reduced vars)
  # - { method: "4", category:  [ mva_higgs ], plotting_variable: [ "m_vis_tt", "dR", "dphi", "pt_tt", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(n_jets>1 && mjj>300)"], use_filtered_DY: true} # VBF-like


  # - { method: "4", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(BDT_pred_score>0.9)"], use_filtered_DY: true} # Final Bin

  - { method: "4", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(n_jets>1 && (fabs(jeta_1)>3 || fabs(jeta_2)>3))"], use_filtered_DY: true} # Final Bin

  # - { method: "4", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(BDT_pred_score>0.7 && BDT_pred_score<0.9)"], use_filtered_DY: true} # Final Bin
  # - { method: "4", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(BDT_pred_score>0.9 && n_jets>1 && mjj>300)"], use_filtered_DY: true}
  # - { method: "4", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(n_jets<2 || mjj<=300)"], use_filtered_DY: true}
  # - { method: "4", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(n_jets<2)"], use_filtered_DY: true}

  mt:
  # GENERAL CONTROL
  # - { method: "6", category:  [ mva_higgs ], plotting_variable: ["m_vis", "dR", "dphi", "pt_tt", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65)"], use_filtered_DY: true}
  # - { method: "6", category:  [ mva_higgs ], plotting_variable: ["m_vis", "dR", "dphi", "pt_tt", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65 && n_jets>1 && mjj>300)"], use_filtered_DY: true}



  - { method: "6", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65 && n_jets>1 && (fabs(jeta_1)>3 || fabs(jeta_2)>3))"], use_filtered_DY: true}

  # - { method: "6", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65 && BDT_pred_score>0.85)"], use_filtered_DY: true}
  # - { method: "6", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65 && BDT_pred_score>0.85 && n_jets>1 && mjj>300)"], use_filtered_DY: true}
  # - { method: "6", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], use_filtered_DY: true, additional_selections: ["(mt_1<65 && (n_jets<2 || mjj<=300))"]}
  # - { method: "6", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], use_filtered_DY: true, additional_selections: ["(mt_1<65 && n_jets<2)"]}

  et:
  # GENERAL CONTROL
  # - { method: "6", category:  [ mva_higgs ], plotting_variable: ["m_vis", "dR", "dphi", "pt_tt", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65)"], use_filtered_DY: true}
  # - { method: "6", category:  [ mva_higgs ], plotting_variable: ["m_vis", "dR", "dphi", "pt_tt", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65 && n_jets>1 && mjj>300)"], use_filtered_DY: true}


  - { method: "6", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65 && n_jets>1 && (fabs(jeta_1)>3 || fabs(jeta_2)>3))"], use_filtered_DY: true}
  # - { method: "6", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65 && BDT_pred_score>0.71 && n_jets>1 && mjj>300)"], use_filtered_DY: true}
  # - { method: "6", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65 && (n_jets<2 || mjj<=300))"], use_filtered_DY: true}
  # - { method: "6", category:  [ mva_higgs ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65 && n_jets<2)"], use_filtered_DY: true}


  mm:
  # GENERAL CONTROL
  - { method: "5", category:  [ inclusive ], plotting_variable: [ eta_1, eta_2]}

  ee:
  # GENERAL CONTROL
  - { method: "5", category:  [ inclusive ], plotting_variable: [ m_vis, met_pt, pt_1, pt_2, eta_1, eta_2]}


