input_folder: /vols/cms/lcr119/offline/HiggsCP/HiggsDNA/output/control_noMETrecoil #SF_templates_CP #control_noMETRecoil
output_path: /vols/cms/lcr119/offline/HiggsCP/TIDAL/Draw/Plots/BDTControl/Oct6
channels: [ tt]
eras: [Run3_2022, Run3_2022EE, Run3_2023, Run3_2023BPix]
parameter_path: /vols/cms/lcr119/offline/HiggsCP/HiggsDNA/scripts/ditau/config/
schemes: [control]
run_systematics: false

control:
  variable_definitions:
    # CONTROL PLOTS of BDT input variables
    pt_1: "pt_1(40,0,200)"
    pt_2: "pt_2(40,0,200)"
    eta_1: "eta_1(48,-2.4,2.4)" # only mt and et
    met_pt: "met_pt(40,0,200)"
    met_dphi_1: "met_dphi_1(32,0,pi)"
    met_dphi_2: "met_dphi_2(32,0,pi)"
    dR: "dR(42,0,5)"
    dphi: "dphi(32,0,pi)"
    pt_tt: "pt_tt(50,0,400)"
    m_vis: "m_vis(50,0,200)"
    m_vis_tt: "m_vis(50,0,400)"
    pt_vis: "pt_vis(40,0,200)"
    FastMTT_mass: "FastMTT_mass(50,0,400)"
    mt_1: "mt_1(40,0,200)"
    mt_2: "mt_2(40,0,200)"
    mt_lep: "mt_lep(40,0,200)"
    mt_tot: "mt_tot(40,0,200)"
    jpt_1: "jpt_1(20,30,200)"
    jpt_2: "jpt_2(20,30,200)"
    jeta_1: "jeta_1(48,-2.4,2.4)"
    jeta_2: "jeta_2(48,-2.4,2.4)"
    mjj: "mjj(40,0,2000)"
    jdeta: "jdeta(48,0,10)"
    dijetpt: "dijetpt(40,0,400)"
    n_jets: "n_jets(10,0,10)"

  mt:
  # GENERAL CONTROL
  - { method: "5", category:  [ cp_inclusive ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65)"]}

  # - { method: "5", category:  [ cp_inclusive,  DM0_tau_cp, DM1_tau_cp, DM2_tau_cp, DM10_tau_cp], plotting_variable: [ m_vis], additional_selections: ["(mt_1<65)"]}

  et:
  # GENERAL CONTROL
  - { method: "5", category:  [ cp_inclusive ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "m_vis", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ], additional_selections: ["(mt_1<65)"]}

  tt:
  # GENERAL CONTROL
  - { method: "4", category:  [ cp_inclusive ], plotting_variable: [ "pt_1", "pt_2", "eta_1", "met_pt", "met_dphi_1", "met_dphi_2", "dR", "dphi", "pt_tt", "pt_vis","FastMTT_mass", "mt_1", "mt_2", "mt_lep", "mt_tot", "jpt_1", "jpt_2", "jeta_1", "jeta_2", "mjj", "jdeta", "dijetpt", "n_jets" ]}

  # - { method: "4", category:  [ cp_inclusive ], plotting_variable: [ "m_vis" ]}

  mm:
  # GENERAL CONTROL
  - { method: "5", category:  [ inclusive ], plotting_variable: [ eta_1, eta_2]}

  ee:
  # GENERAL CONTROL
  - { method: "5", category:  [ inclusive ], plotting_variable: [ m_vis, met_pt, pt_1, pt_2, eta_1, eta_2]}


